@import 'tailwindcss';

@theme {
  --color-primary: #15502c;
  --color-stroke-subtle: #d8d8d8;
  --font-playfair: 'Playfair Display', ui-serif, serif;
}

button {
  cursor: pointer;
}

body {
  @apply m-0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
