/config/.env
.env
.env.*
*.log
*.out
coverage.*
bin/
dist/
build/
server
vendor/
go.work
go.work.sum
.DS_Store
.idea/
.vscode/
*.swp
*.swo
tmp/
.DS_Store
**/.DS_Store
docs/docs.go
docs/swagger.json
docs/swagger.yaml
supabase/.branches/
supabase/.temp/
